# Financial ChatBot Prototype responding on specific set of questions for selected companies

1. What is the total revenue?
2. What is the Net Income?
3. What is the sum of total assets?
4. What is the sum of total liabilities?
5. What is cash flow from operating activities?
6. What is the revenue growth(%) ?
7. What is the net income growth(%) ?
8. What is the assets growth(%) ?
9. What is the liabilities growth(%) ?
10. What is the cash flow from operations growth(%) ?
11. What is the year by year average revenue growth rate(%)?
12. What is the year by year average net income growth rate(%)?
13. What is the year by year average assets growth rate(%)?
14. What is the year by year average liabilities growth rate(%)?
15. What is the year by year average cash flow from operations growth rate(%)?

In [1]:
import pandas as pd
df = pd.read_csv('Final_report.csv')
dff = pd.read_csv('Summarized_report.csv')

In [3]:
df

,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Company
0,2025,281724,101832,619003,275524,136162,Microsoft
1,2024,245122,88136,512163,243686,118548,Microsoft
2,2023,211915,72361,411976,205753,87582,Microsoft
3,2024,97690,7153,122070,48390,14923,Tesla
4,2023,96773,14974,106618,43009,13256,Tesla
5,2022,81462,12587,82338,36440,14724,Tesla
6,2025,416161,112010,359241,285508,111482,Apple
7,2024,391035,93736,364980,308030,118254,Apple
8,2023,383285,96995,352583,290437,110543,Apple

In [5]:
dff

,Unnamed: 0,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth(%),Liabilities Growth(%),Cash Flow Growth(%)
0,0,Apple,-2.673162,-4.279276,-0.599697,0.725646,-0.148729
1,1,Microsoft,-8.846427,-10.449359,-12.273853,-9.040593,-13.019042
2,2,Tesla,-5.586748,31.132592,-11.810400,-8.797871,-0.032149

In [11]:
%run FinAI-chatbot.py

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

Enter company name :  tesla

The data for the fiscal year 2023, 2024, and 2025 is currently available but for tesla from 2022-2024 is available

The fiscal year for the selected company :  2022

Please enter your query

 What is the total revenue?

The Total Revenue for Tesla for fiscal year 2022 is $ 81462
----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  exit

In [13]:
%run FinAI-chatbot.py

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  asd

Enter 'Hi' Properly!!!!! by starting the chatbot session again

In [15]:
%run FinAI-chatbot.py

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  exit

In [17]:
%run FinAI-chatbot.py

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

Enter company name :  apple

The data for the fiscal year 2023, 2024, and 2025 is currently available but for tesla from 2022-2024 is available

The fiscal year for the selected company :  2025

Please enter your query

 net income

Sorry, I cannot provide information on the requested query.
----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

Enter company name :  apple

The data for the fiscal year 2023, 2024, and 2025 is currently available but for tesla from 2022-2024 is available

The fiscal year for the selected company :  2025

Please enter your query

 What is the Net Income?

The Net Income for Apple for fiscal year 2025 is $ 112010
----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  exit